:root {
  --colorPrimary: #2525CE;

  --colorTextDescription: #8E8E8E;
  --colorTextTitlemain: #000000;
  --colorTextTitle: #333333;

  --colorTextMenu: #3C3C3C;
  --colorTextSecondary: #333333;
  --colorTextReversed: #ffffff;

  --colorBackground: #000000;
  --colorBackgroundReversed: #ffffff;

  --colorOmbreMenu: #BCBCBC29;
  --colorOmbre: #00000029;
}
