@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}


@include font('Roboto', '../assets/fonts/Roboto/Roboto-Regular', 400, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Bold', 900, normal);


:root {
  --fontFamilyMain: Roboto, sans-serif;
  --fontFamilyCode: monospace;

  --fontSizeXXL: 24px;
  --fontSizeXL: 20px;
  --fontSizeL: 16px;
  --fontSizeM: 14px;
  --fontSizeS: 12px;
  --fontSizeXS: 10px;

  --fontWeightBold: 900;
  --fontWeightThin: 300;

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}
