.a-title {
  text-align: center;
  font: Bold 20px/23px var(--fontFamilyMain);
  letter-spacing: var(--spaceXS);
  color: var(--colorTextTitle);
  opacity: 1;
}

.a-title--level1 {
  text-align: center;
  font: Bold 24px/28px var(--fontFamilyMain);
  letter-spacing: 0px;
  color: var(--colorTextTitlemain);
  opacity: 1;
}

.a-title--level2 {
  text-align: center;
  font: Bold 20px/23px var(--fontFamilyMain);
  letter-spacing: 0px;
  color: var(--colorTextReversed);
  opacity: 1;
}

.a-title--level3 {
text-align: center;
font: Regular 10px/70px var(--fontFamilyMain);
letter-spacing: 0px;
color: var(--colorTextReversed);
opacity: 1;;
}

.a-title--reversed {
  color: var(--colorTextReversed);
}